<a href="" data-ng-click="post.isEditing = !post.isEditing" class="btn btn-info">Редактировать</a>
<a href="" data-ng-click="deletePost(post)" class="btn btn-danger">Удалить</a>

<div class="edit-post-area" ng-if="post.isEditing">
    <input type="text" ng-model="post.title" class="form-control" value="{{ post.title }}">
    <textarea ng-model="post.text" class="form-control" rows="5">
        {{ post.text }}
    </textarea>
    <button type="submit" class="btn btn-primary" data-ng-click="editPost(post); toggleEditMode(post, false)">Cохранить</button>
</div>